<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

    <select id="selectNow" resultType="java.lang.String">
        SELECT now()
    </select>

    <select id="isExistMember" parameterType="java.lang.String" resultType="Member">
        SELECT id
               ,email
               ,pw
               ,nick
               ,login_type
          FROM member
         WHERE id = #{id}
    </select>

    <select id="selectOneMemberByEmail" parameterType="java.lang.String" resultType="Member">
        SELECT id
               ,email
               ,pw
               ,nick
               ,login_type
          FROM member
         WHERE email = #{email}
    </select>

    <insert id="insertMemberAllParameters" parameterType="Member">
        INSERT INTO member VALUES (#{id}, #{email}, #{pw}, #{nick}, #{loginType}, #{pictureUrl}, #{locale}, #{subId})
    </insert>

    <insert id="insertMemberExcludePwParameter" parameterType="Member">
        INSERT INTO member(id, email, nick, login_type, picture_url, locale, sub_id) VALUES (#{id}, #{email}, #{nick}, #{loginType}, #{pictureUrl}, #{locale}, #{subId})
    </insert>

</mapper>
